.login-page {
  min-height: 100vh !important;
  background-image: linear-gradient(#00000049, #0000006e),
    url("./../images/login.png");
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.formContainer {
  width: 100%;
  max-width: 450px !important;
}
.loginForm input {
  display: block;
  margin: 20px 0;
}

.login-btn {
  background: var(--secondary);
  color: var(--text);
  width: 100%;
  margin-top: 10px;
}
.login-btn:hover {
  color: var(--text);
}
