@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* #263238 */

:root {
  --primary: #252525;
  --secondary: #e91e63;
  --text: #fff;
  --bg: #90a4ae;
  --footer: #252525;
  --blackish: rgb(22, 22, 22);
}
p {
  margin: 0 !important;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Hind Siliguri", sans-serif;
}
tr {
  vertical-align: middle;
}
td,
th {
  min-width: 170px;
}

.backToTop {
  position: fixed;
  bottom: 40px;
  left: 40px;
  /* font-size: 40px; */
  background: rgb(250, 250, 250);
  cursor: pointer;
  color: #0dcaf0;
  border: .7px solid rgb(114, 112, 112);
  border-radius: 50%;
  border: none;
  box-shadow: 0 5px 10px #ccc;
  padding: 10px 15px;
}
.backToTop:hover {
  background-color: #6c757d;
  color: white;
}

@media only screen and (max-width: 600px) {
  .backToTop {
    bottom: 65px;
    left: 20px;
  }
}
