.cardBody {
  position: relative;
}
.smallTexts{
  font-size: .85rem;
}
.seats{
  padding: 5px 10px;
  background-color: #9bdaff;
  border-radius: 0px 10px 10px 0px;
  /* margin: 10px */
}
.dateCaution{
  position: absolute;
  top: 70px;
  left: 20px;
  background-color: whitesmoke;
  padding: 8px 7px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.imgOffset{
  opacity: 0.3;
}
.dateCaution span{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 700;
}
/* .discountContainer {
  background-color: #9bdaff;
  height: 15.25rem;
  width: 8.5rem;
  clip-path: polygon(0 0, 0 59%, 43% 0);
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.discountContainer .discountText {
  margin-left: 7px;
  color: #e92359;
  position: relative;
  top: 25px;
  right: 55px;
  transform: rotateZ(293deg);
} */
.ratingColor{
  color: #FF5501;
}
.discountContain{
  background-color: #FF5501;
  position: absolute;
  padding: 5px 5px;
  color: white;
  border-radius: 0 7px 7px 0;
  top: 80px;
  left: 0;
  font-weight: 700;
}
.detailBooking{
  display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: #FF5501;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
