.card {
    background-color: white;
    color: #272727;
    padding: 10px;
    border-radius: 10px;
    border: .5px;
    border-color: rgb(124, 121, 121);
    border-style: solid;
    transition: 200ms;
    /* max-width: 520px; */
    /* max-width: 380px; */
    min-height: 715px;
  }
  
  .card:hover {
    transition: 200ms;
    border: 3px;
    border-color: rgb(171, 175, 182);
    border-style: solid;
  }
  
  .cardImage {
    border-radius: 2px;
    margin-bottom: 10px;
    max-height: 300px;
    margin-top: 10px;
  }